body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding: 0;
    background: url(https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?cs=srgb&dl=pexels-pixabay-326055.jpg&fm=jpg);
    background-size: cover;
    background-blend-mode: darken;
    
    
}
.topnav {
    overflow: hidden;
  }
  
.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 25px;
}
  
.topnav a:hover {
    background-color: grey;
    color: white;
}
  
.interior {
    padding-left: 50px;
    color: white;
}
.center {
    font-size: 60px;
    color: white;
    padding: 150px;
    margin: 10px;
}
p {
    color: white;
    text-align: center;
}
.button1, .button2 {
    margin: 50px;
    font-size: large;
    height: 50px;
    padding: 15px;
}  
.button1 {
    border-radius: 25px;
    background: none;
    color: white;
    border: 1px white solid;
}
.button1:hover {
    background-color: white;
    color: black;
}
.button2 {
    border-radius: 25px;
    border: 1px white solid;
    background: none;
    color: white;
}
.button2:hover {
    background-color: white;
    color: black;
}